body {
    font-family: sans-serif;
    padding: 20px;
}

.boards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.board-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Индикатор хода */
.turn-indicator {
    font-size: 50px;
    font-weight: bold;
    color: #333;
    width: 60px;
    text-align: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    width: max-content;
}

.cell {
    background-color: #add8e6;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    cursor: pointer;
}

.cell.hit {
    position: relative;
    background-color: #ffcccb;
}

.cell.hit::before, .cell.hit::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: red;
    top: 50%;
    left: 0;
    z-index: 2;
}

.cell.hit::before {
    transform: rotate(45deg);
}
.cell.hit::after {
    transform: rotate(135deg);
}

.cell.ship.hit {
    background-color: darkblue;
}

.cell.miss {
    background-color: grey;
}
.cell.ship {
    background-color: darkblue;
}

.modal {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex; align-items: center; justify-content: center;
    z-index: 100;
}

.modal-content {
    background: white; padding: 30px; border-radius: 8px; text-align: center;
}

.modal-content button {
    margin: 10px; padding: 10px 20px; cursor: pointer; font-size: 16px;
}